@charset "UTF-8";

html, body {
  font-family: 'Roboto mono';
  font-size: 16px;
  background-color: #deb887;
}

h1 {
  color: #ffffff;
  text-align: center;
  font-size: 2rem;
  margin: 3rem;
}

#container {
  background-color: #ffffff;
  width: 540px;
  border-radius: 1rem;
  margin: 0 auto;
  padding: 1.5rem;
}

#time {
  color: #B78D4A;
  font-size: 3rem;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0,139,253,0.25);
  margin: .5rem;
}

button {
  padding: 20px 0;
    font-size: 30px;
    display: inline-block;
    padding: .8rem 1.6rem;
    border: none;
    color: #FFF;
    background-color: #B78D4A;
    border-radius: 15px;
}

#start, #stop, #reset {
  font-size: 1.5rem;
  border-radius: .3rem;
  box-shadow: 0 0 20px rgba(77, 78, 79, 0.25);
}